form.blubberForm label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: middle;
    width: 150px;
} /* Width of labels */

form.blubberForm fieldset{
    margin: 20px;
    border-color: #999999;
    border-radius: 5px;
}

form.blubberForm label.error {
    margin-left: 153px;
    width: 220px;
}

form.blubberForm {
    width: 500px;
    font-size: 1.0em;
}

form.blubberForm label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    font-style: italic
}

input:focus {
    border: 1px dotted black;
}

input.error {
    border: 1px dotted red;
}

form.blubberForm textarea {
    width: 300px;
}

form.blubberForm .gray * {
    color: gray;
}